.header {
    justify-content: space-evenly;
    font-weight: bolder;
}

.table {
    justify-content: center;
    width: 100%;
    margin: auto;
    font-size: small;
    text-align: center;
}

.tbody {
    justify-content: space-evenly;
}

.card {
    background-color: rgb(203, 215, 226);
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-right: 2%;
}

.table td {
    min-width: fit-content;
    margin: auto;
    padding: auto;
}

@media only screen and (max-width: 900px) {
    .card {
        width: 100%;
        background-color: rgb(101, 171, 232);
        display: flex;
        justify-content: center;
    }
}