.submit {
    background-color: rgb(25, 163, 30);
    color: rgb(214, 214, 214);
    font-weight: bolder;
    font-size: medium;
    border-radius: 20px;
    width: 80%;
    height: 30px;
    margin: auto;
    margin-bottom: 5%;
    border: 0;
}

.submit:hover,
.submit:active {
    background-color: rgb(45, 189, 50);
    cursor: pointer;
}

.clear {
    background-color: rgb(196, 148, 28);
    color: rgb(214, 214, 214);
    border-radius: 20px;
    border: 0;
    width: 80%;
    height: 30px;
    margin: auto;
    margin-bottom: 5%;
    font-weight: bolder;
    font-size: medium;
}

.clear:hover,
.clear:active {
    background-color: rgb(223, 166, 21);
    cursor: pointer;
}

.clientForm {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 1%;
}

.title {
    text-align: center;
    color: white;
}

.formCard {
    background-color: rgb(14, 49, 68);
    width: 50%;
    margin: auto;
    color: white;
}

.formCard:hover {
    background-color: rgb(15, 60, 84);
}

.formWrapper {
    width: 50%;
    background-color: transparent;
    margin: auto;
}

.clientForm__controls {
    display: block;
}

.clientForm__control input {
    width: auto;
    height: 25px;
    background: #e0dede;
    display: flex;
    margin: auto;
    border: none;
    outline: none;
    border-radius: 5px;
}

.clientForm__control label {
    display: flex;
    justify-content: left;
    margin-left: 9%;
    margin-bottom: 4px;
}

.clientForm__control__radio {
    display: block;
}

.clientForm__control__radio input {
    margin: 2%;
}

.clientForm__control {
    display: flex;
    flex-direction: row;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .formWrapper {
        width: 100%;
    }
    .formCard {
        background-color: rgb(14, 49, 68);
        width: 80%;
        margin: auto;
        color: white;
    }
}