.select {
    background-color: #0aa20f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}

.delete {
    background-color: #9b0b0b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}

.select:hover,
.select:active {
    background-color: #23bf28;
    cursor: pointer;
}

.delete:hover,
.delete:active {
    background-color: #c21e1e;
    cursor: pointer;
}