.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgb(15, 39, 51);
    color: white;
    text-justify: auto;
    text-align: justify;
    min-height: 4rem;
    font-size: larger;
}

.nav h1 {
    margin-left: 2%;
}